.paymentBackground{
    -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: auto;
        -fx-background-image: url('../../../../../resources/backgrounds/black-abstract.jpg');
}
/*
.loginBackground{
    -fx-background-color: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
}*/
.loginBackground {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-image: url('../../../../../resources/backgrounds/black-abstract.jpg');
}
/*
.background{
    -fx-background-color: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
}*/
.background {
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-image: url('../../../../../resources/backgrounds/black-abstract.jpg');
}

.unicasButton{
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-image: url('../../../../../resources/images/unicas.png');
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-background-color: transparent;
}

.transparent{
    -fx-background-color: transparent;
}

.SectionsPane{
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: rgb(79, 172, 254);
}

.LoginPane{
    -fx-background-color: rgba(16, 16, 16, 0.84);
    -fx-background-radius: 20, 20, 20, 20;
    -fx-border-radius: 20, 20, 20, 20;
    -fx-border-width: 1;
    -fx-border-color: rgb(0, 0, 0);
}


.whiteText{
    -fx-text-fill: #ffffff;
}

.blackText{
    -fx-text-fill: rgb(16, 16, 16);
}

 .colorText{
     -fx-text-fill: rgb(79, 172, 254);
 }

.radius{
    -fx-border-radius: 20, 20, 20, 20;
}

.whiteBG{
    -fx-background-color: rgb(255, 255, 255);
}

.colorUnderline{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(79, 172, 254);
}

.loginTextField{
    -fx-text-fill: rgb(79, 172, 254);
}

.loginPin{
    -fx-text-fill: rgb(79, 172, 254);
}

#ovalHBox{
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-border-color: rgb(79, 172, 254);
}

.ovalHBoxButtons{
    -fx-text-fill: rgb(255, 255, 255);
}
.ovalHBoxButtons:hover{
    -fx-text-fill: rgb(79, 172, 254);
}

.ovalHBoxCartButtons{
    -fx-text-fill: rgb(16, 16, 16);
}
.ovalHBoxCartButtons:hover{
    -fx-text-fill: rgb(79, 172, 254);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.searchBox{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 1;
    -fx-border-color: rgb(16, 16, 16);
}

.searchButton{
    -fx-background-color: rgb(16, 16, 16);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-border-color: rgb(79, 172, 254);
    -fx-text-fill: rgb(255, 255, 255);
}

.addToCartButton{
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 30;
    -fx-border-radius: 30;

    -fx-text-fill: rgb(16, 16, 16);
}

/*---------------------------------------------------------------------------
                            DEPARTMENTS BUTTON
---------------------------------------------------------------------------*/
.departmentBox{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(79, 172, 254);
}

.departmentButton{
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
    -fx-border-radius: 10, 10, 10, 10;
}

.departmentButton:hover{
    -fx-border-width: 1;
    -fx-border-color: rgb(79, 172, 254);
    -fx-effect: dropshadow( three-pass-box , rgb(79, 172, 254), 5, 0.0 , 0 , 1 );
}

#meatButton {
    -fx-background-image: url('../../../../../resources/icons/01-meat.png');
}
#fishButton {
    -fx-background-image: url('../../../../../resources/icons/02-fish.png');
}
#fruitButton {
    -fx-background-image: url('../../../../../resources/icons/03-fruit.png');
}
#groceryButton {
    -fx-background-image: url('../../../../../resources/icons/04-grocery.png');
}
#breadButton {
    -fx-background-image: url('../../../../../resources/icons/05-bread.png');
}
#beerButton {
    -fx-background-image: url('../../../../../resources/icons/06-beer.png');
}
#healthcareButton {
    -fx-background-image: url('../../../../../resources/icons/07-healthcare.png');
}
#ice-creamButton {
    -fx-background-image: url('../../../../../resources/icons/08-ice-cream.png');
}
#housekeepingButton {
    -fx-background-image: url('../../../../../resources/icons/09-housekeeping.png');
}
#petButton {
    -fx-background-image: url('../../../../../resources/icons/10-pet2.png');
}
#babyButton {
    -fx-background-image: url('../../../../../resources/icons/11-baby.png');
}
#stationeryButton {
    -fx-background-image: url('../../../../../resources/icons/12-stationery.png');
}
#snackButton {
    -fx-background-image: url('../../../../../resources/icons/13-snack.png');
}

#logoutButton {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
    -fx-border-radius: 10, 10, 10, 10;
    -fx-background-image: url('../../../../../resources/icons/logout.png');
}
#logoutButton:hover{
     -fx-effect: dropshadow( three-pass-box , rgb(79, 172, 254), 5, 0.0 , 0 , 1 );
 }

#aboutUsButton {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
    -fx-border-radius: 10, 10, 10, 10;
    -fx-background-image: url('../../../../../resources/icons/aboutUs.png');
}
#aboutUsButton:hover{
    -fx-effect: dropshadow( three-pass-box , rgb(79, 172, 254), 5, 0.0 , 0 , 1 );
}

.articleItem{
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-radius: 30;
    -fx-border-radius: 30, 30, 30, 30;
    -fx-border-width: 2;
    -fx-border-color: rgb(236, 236, 236);
}
.articleItem:hover{
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: rgb(79, 172, 254);
}

.card{
    -fx-background-color: linear-gradient(to left, #4facfe 0%, #12d8fa 50%, #4facfe 100%);
    -fx-blend-mode: screen;
    -fx-background-radius: 30, 30, 30, 30;
    /*
    -fx-border-radius: 30, 30, 30, 30;
    -fx-border-width: 1;
    -fx-border-color: #000000;
    */
}

.loginButtons {
    -fx-background-color: rgb(79, 172, 254);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: rgb(16, 16, 16);

}

.loginButtons:hover {
    -fx-background-color: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    -fx-effect: dropshadow(three-pass-box, rgb(31, 162, 255), 2, 0.0, 0, 1);
}

/*
#SectionsLateralPanes{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 5;
    -fx-border-color: rgb(236, 236, 236);
}*/
#SectionsLateralPanes{
    -fx-background-color: rgba(16, 16, 16, 0.84);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-border-color: rgb(0, 0, 0);
}
.searchTextField{
    -fx-text-fill: rgb(79, 172, 254);
}

.receiptButton{}
.receiptButton:hover{
    -fx-underline: true;
}